<div class="container" id="past-requests-container">
	<div id="author-view-past-requests">
		<h1><span id="user_fn"></span>'s Past Requests</h1>
		<br>
		<h1 class="display-4" id="title">Request history</h1>
		<br>
		<div>
			<table class="table" id="author-past-requests-table">
			
			<thead>
				<tr>
					<th>Id</th>
					<th>Amount</th>
					<th>Time Submitted</th>
					<th>Time Resolved</th>
					<th>Description</th>
					<th>Receipt</th>
					<th>Author</th>
					<th>Resolver</th>
					<th>Status</th>
					<th>Type</th>
				</tr>
			</thead>
			
			<tbody id="past_request_table_body"></tbody>
			
		</table>
		</div>
		<div id="author-menu">
			<button type="button" class="btn btn-success btn-block" id="author-return-home">Return To Home Page</button>
		</div>
		
		<hr>
	<div class="alert alert-danger" id="past-requests-message" hidden></div>

	</div>
</div>