<div class="container" id="resolover_home_container">
	<div id="resolver_home_page">
		<h1 class="display-4" id="title">Welcome back <span id="resolver_fn"></span>!</h1>
		<br>
		<h4 id="title">Please select an option below.</h4>
		<br>
		<div id="author-menu">
			<button type="button" class="btn btn-success btn-lg" id="view-pending-btn">View Pending Requests</button>
			<button type="button" class="btn btn-success btn-lg" id="submit-new-req-btn">Submit New Reimbursement</button>
		</div>
		<hr>
	</div>
</div>